# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
.turbo/

# Env
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs / coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Docker
*.log
